.active a {
    font-weight: bold;
}

.sidebar {
    height: 10000px;
    overflow: hidden;
    float: left;
    margin: 32px 32px 0 32px;
    min-width: 112px;
}

.sidebar ul,
.sidebar ul li a {
    list-style: none;
    margin: 0;
    padding: 0;
    color: #585858;
    width: 100%;
}

.sidebar ul li a:hover,
.sidebar ul li li a:hover {
    text-decoration: none;
    color: #a078f2;
}

.dropdown {
    margin-bottom: 16px;
}

.sub {
    padding: 0 6px 0 12px;
    margin-left: 2px;
    border-left: 1px dotted #b6ccd8;
    background-color: #fff;
    width: 100%;
    font-size: 0.9em;
    color: #807793;
    font-weight: normal;
}

.sub:hover {
    border-left: 2px solid #6b4cac;
    background-color: #eff4f7;
    padding: 0 6px 0 11px;
}

.main-content table {
    width: auto !important;
}

.main-content li {
    list-style: none;
}
