<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>
  <section class="page-header">
    <h1 class="project-name">ox</h1>
    <h2 class="project-tagline">A tiny 2D game framework for the web.</h2>
    <a href="https://github.com/OttoRobba/ox/zipball/master" class="btn">Download .zip</a>
    <a href="http://ottorobba.github.io/ox/docs/" class="btn">Documentation</a>
    <a href="https://github.com/OttoRobba/ox" class="btn">View on GitHub</a>
      <script src="/ox.js"></script>
            <div class="cellphone">
                <canvas id="canvas" class="canvas" width="524px" height="319px">
                </canvas>
            </div>
            <div class="centered">
        {% include content.html %}{% include footer.html %}</div>

  </section>
</body>

</html>
